In [1]:
import selenium
import pandas as pd

from selenium import webdriver

In [3]:
driver= webdriver.Chrome("D:\\Softwares\\chromedriver_win32\\chromedriver.exe")

In [4]:
driver.get('https://www.naukri.com/')

In [5]:
Search=driver.find_element_by_xpath("//input[@placeholder='Skills, Designations, Companies']")
Search.send_keys('Data Analyst')
Location=driver.find_element_by_id('qsb-location-sugg')
Location.send_keys('Bangalore')
Search_button=driver.find_element_by_xpath('//div[@class="search-btn"]/button')
Search_button.click()

In [6]:
Url=driver.current_url
print(Url)

https://www.naukri.com/data-analyst-jobs-in-bangalore?k=data%20analyst&l=bangalore

In [7]:
driver.get(Url)

In [8]:
job_title=[]
company_name=[]
location_List=[]
experience_List=[]

In [9]:
title_tags=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
title_tags[:4]

[<selenium.webdriver.remote.webelement.WebElement (session="a8b163264fe2a9ce6976b472b883e6f4", element="5cfdd812-5a15-45e7-80ab-c5743a815279")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a8b163264fe2a9ce6976b472b883e6f4", element="caccc8f1-15a3-4882-8394-0e91e97053c7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a8b163264fe2a9ce6976b472b883e6f4", element="c5edf487-befd-40f2-848c-4918f756461c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a8b163264fe2a9ce6976b472b883e6f4", element="53cd3c6b-3462-47a2-91ae-12640495b4a6")>]

In [10]:
for i in title_tags:
    title=i.text
    job_title.append(title)
job_title[:4]

['MIS/ Data Analyst-(SQL,Automation,Excel/PowerBI,Dashboards) - Contract',
 'Data Analyst - SAP',
 'Hiring Data Analysts on Contract',
 'Senior Data Analyst']

In [11]:
company_tag=driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')
company_tag[:4]

[<selenium.webdriver.remote.webelement.WebElement (session="a8b163264fe2a9ce6976b472b883e6f4", element="24105050-91ea-4f51-8476-a4b038c1bf12")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a8b163264fe2a9ce6976b472b883e6f4", element="974a872a-dcca-4eb0-acbe-fb7c9d42aae9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a8b163264fe2a9ce6976b472b883e6f4", element="fca9d0bf-428b-4641-b2d0-09a5fa71f33c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a8b163264fe2a9ce6976b472b883e6f4", element="55abc673-7802-46a4-b571-dae64a3b348d")>]

In [12]:
for i in company_tag:
    company_names=i.text
    company_name.append(company_names)
company_name[:11]

['Flipkart Internet Private Limited',
 'Boston Scientific Corporation',
 'Flipkart Internet Private Limited',
 'Schneider Electric',
 'Philips India Limited',
 'Mindtree Limited',
 'IBM India Pvt. Limited',
 'RANDSTAD INDIA PVT LTD',
 'Outsource Big Data',
 'Capgemini Technology Services India Limited',
 'Emagine People Technologies Private Limited']

In [13]:
Location_tag=driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]')
Location_tag[:4]

[<selenium.webdriver.remote.webelement.WebElement (session="a8b163264fe2a9ce6976b472b883e6f4", element="c0d2ce58-b197-4f91-9f9c-e69b45f9a73b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a8b163264fe2a9ce6976b472b883e6f4", element="e3479160-0600-4103-b905-2bd80e7a7faa")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a8b163264fe2a9ce6976b472b883e6f4", element="978f29b8-786d-4542-a6cf-aa62b598153d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a8b163264fe2a9ce6976b472b883e6f4", element="62f93b0c-813a-482a-9fdb-83cf0ca90f88")>]

In [14]:
for i in Location_tag:
    location=i.text
    location_List.append(location)
location_List[:11]

['Bengaluru',
 'Pune, Delhi, Bengaluru, Gurgaon',
 'Bengaluru',
 'Bengaluru / Bangalore',
 'Bengaluru',
 'Chennai, Pune, Bengaluru, Hyderabad',
 'Bengaluru',
 'Bengaluru',
 'Bengaluru',
 'Bengaluru',
 'Chennai, Bengaluru']

In [15]:


experience_tag=driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi experience"]')
experience_tag[:4]

[<selenium.webdriver.remote.webelement.WebElement (session="a8b163264fe2a9ce6976b472b883e6f4", element="22b3fdbb-04fb-4c35-8747-5ef4473f4363")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a8b163264fe2a9ce6976b472b883e6f4", element="194f5b11-f524-4118-a92d-9da567dbb692")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a8b163264fe2a9ce6976b472b883e6f4", element="109639be-123e-47be-98e4-0a169c2d3005")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a8b163264fe2a9ce6976b472b883e6f4", element="451778a2-649a-48e5-9203-8f0214032c30")>]

In [16]:
for i in experience_tag:
    experience=i.text
    experience_List.append(experience)
experience_List[:11]

['1-4 Yrs',
 '3-5 Yrs',
 '2-5 Yrs',
 '2-5 Yrs',
 '2-4 Yrs',
 '5-9 Yrs',
 '2-4 Yrs',
 '2-4 Yrs',
 '0-1 Yrs',
 '4-6 Yrs',
 '0-2 Yrs']

In [17]:
driver.close()

In [18]:
data=pd.DataFrame({"Job Title":job_title,
                   "Company Name":company_name, 
                   "Job Location":location_List, 
                   "Experience":experience_List})
data.head()

,Job Title,Company Name,Job Location,Experience
0,"MIS/ Data Analyst-(SQL,Automation,Excel/PowerB...",Flipkart Internet Private Limited,Bengaluru,1-4 Yrs
1,Data Analyst - SAP,Boston Scientific Corporation,"Pune, Delhi, Bengaluru, Gurgaon",3-5 Yrs
2,Hiring Data Analysts on Contract,Flipkart Internet Private Limited,Bengaluru,2-5 Yrs
3,Senior Data Analyst,Schneider Electric,Bengaluru / Bangalore,2-5 Yrs
4,Security Data Analyst,Philips India Limited,Bengaluru,2-4 Yrs

In [19]:
data

,Job Title,Company Name,Job Location,Experience
0,"MIS/ Data Analyst-(SQL,Automation,Excel/PowerB...",Flipkart Internet Private Limited,Bengaluru,1-4 Yrs
1,Data Analyst - SAP,Boston Scientific Corporation,"Pune, Delhi, Bengaluru, Gurgaon",3-5 Yrs
2,Hiring Data Analysts on Contract,Flipkart Internet Private Limited,Bengaluru,2-5 Yrs
3,Senior Data Analyst,Schneider Electric,Bengaluru / Bangalore,2-5 Yrs
4,Security Data Analyst,Philips India Limited,Bengaluru,2-4 Yrs
5,"Data Analyst -Azure Data lake, Azure Data factory",Mindtree Limited,"Chennai, Pune, Bengaluru, Hyderabad",5-9 Yrs
6,Business / Data Analyst,IBM India Pvt. Limited,Bengaluru,2-4 Yrs
7,Data Analyst - O2C - Bangalore,RANDSTAD INDIA PVT LTD,Bengaluru,2-4 Yrs
8,Intern Data Analyst,Outsource Big Data,Bengaluru,0-1 Yrs
9,NiFi Data Analyst,Capgemini Technology Services India Limited,Bengaluru,4-6 Yrs
10,Requirement For Data Analyst(Advance excel can...,Emagine People Technologies Private Limited,"Chennai, Bengaluru",0-2 Yrs
11,SENIOR DATA ANALYST,McAfee Software (India) Pvt. Ltd,Bengaluru,7-12 Yrs
12,Data Analyst,EZEU,Bengaluru,2-7 Yrs
13,Senior Data Analyst,Career Hotspot & Services,Bengaluru,3-5 Yrs
14,Data Analyst,AceNet,"Chennai, Bengaluru",6-8 Yrs
15,Looking For Rockstar Data Analyst @ Freshtohom...,Freshtohome Foods Private Limited,Bengaluru,2-5 Yrs
16,Data Analyst (Gameplay),Kwalee ltd.,Bengaluru,2-7 Yrs
17,Data Analyst,Kwalee ltd.,Bengaluru,2-7 Yrs
18,Data Analyst,"Liventus, Inc.",Bengaluru(2nd Phase JP Nagar),3-6 Yrs
19,Data Analyst,Shell India Markets Private Limited,Bengaluru,5-8 Yrs

2.Write a python program to scrape data for “Data Scientist” Job position in
“Bangalore” location. You have to scrape the job-title, job-location,
company_name, full job-description. You have to scrape first 10 jobs data.

In [54]:
dri= webdriver.Chrome("D:\\Softwares\\chromedriver_win32\\chromedriver.exe")

In [55]:
dri.get('https://www.naukri.com/')

In [56]:
Search=dri.find_element_by_xpath("//input[@placeholder='Skills, Designations, Companies']")
Search.send_keys('Data Scientist')
Location=dri.find_element_by_id('qsb-location-sugg')
Location.send_keys('Bangalore')
Search_button=dri.find_element_by_xpath('//div[@class="search-btn"]/button')
Search_button.click()

In [57]:
url=dri.current_url
print(url)

https://www.naukri.com/data-scientist-jobs-in-bangalore?k=data%20scientist&l=bangalore

In [58]:
dri.get(url)

In [59]:
job_titles=[]
company_names=[]
location_Lists=[]
experience_Lists=[]

In [60]:
title_tags=dri.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
title_tags[:4]

[<selenium.webdriver.remote.webelement.WebElement (session="5ca27c791dd942d44fe0abe54ba619c1", element="0b7f6f72-6622-4bf1-8366-97999d1c3269")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5ca27c791dd942d44fe0abe54ba619c1", element="0a7dc99b-7699-4e59-b216-61ec2a03c2e1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5ca27c791dd942d44fe0abe54ba619c1", element="faa3e224-1cc9-40fa-a6e4-d00af0f4df76")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5ca27c791dd942d44fe0abe54ba619c1", element="ff58a96f-177c-4f49-a398-50be06b05c69")>]

In [61]:
for i in title_tags:
    job=i.text
    job_titles.append(job)
job_titles[:10]

['Data Scientist - Python/ MATLAB/ Machine Learning Algorithms',
 'Lead Data Scientist - Machine Learning/ Data Mining',
 'Data Scientist - Machine Learning (Commerce BU)',
 'Principal Data Scientist - Machine/Deep Learning - NLP/Tensorflow',
 'Data Scientist',
 'Opening For Sr. Data Scientist @ Tech Mahindra',
 'Opening For Sr. Data Scientist @ Tech Mahindra',
 'Senior / Lead Data Scientist',
 'Senior Data Scientist - NLP/ Python/ R',
 'Senior Data Scientist | CES IT LTD | CMMI Level 5']

In [62]:
company_tag=dri.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')
company_tag[:4]

[<selenium.webdriver.remote.webelement.WebElement (session="5ca27c791dd942d44fe0abe54ba619c1", element="cf3c97fc-de9d-42ac-94ed-afe69d5af44f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5ca27c791dd942d44fe0abe54ba619c1", element="c45d4c92-8b4b-444b-9246-e09ca1bfa80b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5ca27c791dd942d44fe0abe54ba619c1", element="2ea42b1e-f2a4-4ee8-948a-3603daa10c75")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5ca27c791dd942d44fe0abe54ba619c1", element="50fc362f-5b81-416f-b8df-0e67aec0929c")>]

In [63]:
for i in company_tag:
    company=i.text
    company_names.append(company)
company_names[:10]

['Wrackle Technologies Pvt Ltd',
 'Wrackle Technologies Pvt Ltd',
 'BLUE YONDER INDIA PRIVATE LIMITED',
 'Fidius advisory',
 'Atos Syntel Private Limited',
 'Tech Mahindra Ltd.',
 'Tech Mahindra Ltd.',
 'TVS CREDIT SERVICES LIMITED',
 'AVI Consulting LLP',
 'CES Ltd.']

In [64]:
Location_tag=dri.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]')
Location_tag[:4]

[<selenium.webdriver.remote.webelement.WebElement (session="5ca27c791dd942d44fe0abe54ba619c1", element="7a7505dd-fa16-43ef-97ae-9b565b730653")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5ca27c791dd942d44fe0abe54ba619c1", element="0736d701-d4db-4a3a-accb-24299dbc9dbe")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5ca27c791dd942d44fe0abe54ba619c1", element="9154c46d-d5f1-4de1-bb05-1d927ca89d84")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5ca27c791dd942d44fe0abe54ba619c1", element="2ff6e50c-c31d-4dc1-a8c4-b19c4e3dc7d2")>]

In [65]:
for i in Location_tag:
    location=i.text
    location_Lists.append(location)
location_Lists[:10]

['Bengaluru',
 'Bengaluru',
 'Bengaluru',
 'Bengaluru',
 'Chennai, Pune, Mumbai, Bengaluru',
 'Pune, Bengaluru',
 'Pune, Bengaluru',
 'Chennai, Pune, Bengaluru',
 'Bengaluru, Hyderabad',
 'Chennai, Pune, Delhi NCR, Mumbai, Bengaluru, Hyderabad, Kolkata']

In [66]:
experience_tag=dri.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi experience"]')
experience_tag[:4]

[<selenium.webdriver.remote.webelement.WebElement (session="5ca27c791dd942d44fe0abe54ba619c1", element="b4f8d0ba-a715-45ba-94fd-f87789679b6c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5ca27c791dd942d44fe0abe54ba619c1", element="ca32161e-0dfb-424b-9a3b-054f36f3e4ca")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5ca27c791dd942d44fe0abe54ba619c1", element="5ce251c2-8af3-4640-b568-66a52afd00a4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5ca27c791dd942d44fe0abe54ba619c1", element="ec418d2d-358c-40cb-9858-8fa94bc22fc0")>]

In [67]:
for i in experience_tag:
    exp=i.text
    experience_Lists.append(exp)
experience_Lists[:10]

['3-8 Yrs',
 '6-11 Yrs',
 '4-6 Yrs',
 '8-13 Yrs',
 '12-18 Yrs',
 '12-20 Yrs',
 '12-20 Yrs',
 '3-8 Yrs',
 '4-9 Yrs',
 '2-7 Yrs']

In [68]:
dri.close()

In [69]:
job_data=pd.DataFrame({"Job title":job_titles,
                      "Company Name":company_names,
                      "Location":location_Lists,
                      "Experience":experience_Lists})



job_data.head()

,Job title,Company Name,Location,Experience
0,Data Scientist - Python/ MATLAB/ Machine Learn...,Wrackle Technologies Pvt Ltd,Bengaluru,3-8 Yrs
1,Lead Data Scientist - Machine Learning/ Data M...,Wrackle Technologies Pvt Ltd,Bengaluru,6-11 Yrs
2,Data Scientist - Machine Learning (Commerce BU),BLUE YONDER INDIA PRIVATE LIMITED,Bengaluru,4-6 Yrs
3,Principal Data Scientist - Machine/Deep Learni...,Fidius advisory,Bengaluru,8-13 Yrs
4,Data Scientist,Atos Syntel Private Limited,"Chennai, Pune, Mumbai, Bengaluru",12-18 Yrs

In [ ]:
WebElement checkbox = dr.findElement(By.linkText("Checkbox Demo"));
    checkbox.click();

Q3: In this question you have to scrape data using the filters available on the
webpage as shown below:

In [77]:
div= webdriver.Chrome("D:\\Softwares\\chromedriver_win32\\chromedriver.exe")

In [78]:
div.get('https://www.naukri.com/')

In [79]:
Search=div.find_element_by_xpath("//input[@placeholder='Skills, Designations, Companies']")
Search.send_keys('Data Scientist')
Location=div.find_element_by_id('qsb-location-sugg')
Location.send_keys('Bangalore')
Search_button=div.find_element_by_xpath('//div[@class="search-btn"]/button')
Search_button.click()

In [80]:
div.find_element_by_xpath("//div[@class='mt-8 chckBoxCont']").click()

In [83]:
div.find_element_by_xpath("//i[@class='fleft naukicon naukicon-checkbox']").click()

In [85]:
job_title=[]
company_name=[]
location_List=[]
experience_List=[]

In [86]:
title_tags=div.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
title_tags[:4]

[<selenium.webdriver.remote.webelement.WebElement (session="bbe7f32b29b534c9fa3c1c0d6009ec3b", element="5c7f18e1-4a37-4926-866e-af47a87f44f3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bbe7f32b29b534c9fa3c1c0d6009ec3b", element="12348f2e-9ba2-4ee8-82c6-2e744ecedfb5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bbe7f32b29b534c9fa3c1c0d6009ec3b", element="82f0a68d-44c8-467c-b57e-7edf8dcbc11a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bbe7f32b29b534c9fa3c1c0d6009ec3b", element="9ad91155-a31e-4b83-9dca-6574866080ab")>]

In [87]:
for i in title_tags:
    title=i.text
    job_title.append(title)
job_title[:4]

['Data Scientist - Python/ MATLAB/ Machine Learning Algorithms',
 'Lead Data Scientist - Machine Learning/ Data Mining',
 'Data Scientist - Machine Learning (Commerce BU)',
 'Principal Data Scientist - Machine/Deep Learning - NLP/Tensorflow']

In [89]:
company_tag=div.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')
company_tag[:4]

[<selenium.webdriver.remote.webelement.WebElement (session="bbe7f32b29b534c9fa3c1c0d6009ec3b", element="75104882-4f04-4a89-8fb9-f4356f287e53")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bbe7f32b29b534c9fa3c1c0d6009ec3b", element="2f0d7f7d-cd79-44b8-a1b5-5eba7ee37f20")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bbe7f32b29b534c9fa3c1c0d6009ec3b", element="407ae4f9-d217-4e6e-a61b-bc73ce512c45")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bbe7f32b29b534c9fa3c1c0d6009ec3b", element="c4235afd-da42-443c-81dd-63d7003b238e")>]

In [90]:
for i in company_tag:
    company_names=i.text
    company_name.append(company_names)
company_name[:11]

['Wrackle Technologies Pvt Ltd',
 'Wrackle Technologies Pvt Ltd',
 'BLUE YONDER INDIA PRIVATE LIMITED',
 'Fidius advisory',
 'Atos Syntel Private Limited',
 'Tech Mahindra Ltd.',
 'Tech Mahindra Ltd.',
 'TVS CREDIT SERVICES LIMITED',
 'AVI Consulting LLP',
 'CES Ltd.',
 'RANDSTAD INDIA PVT LTD']

In [92]:
Location_tag=div.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]')
Location_tag[:4]

[<selenium.webdriver.remote.webelement.WebElement (session="bbe7f32b29b534c9fa3c1c0d6009ec3b", element="b8a723ea-267a-412d-9243-28aeb52405d8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bbe7f32b29b534c9fa3c1c0d6009ec3b", element="83d0db59-f50e-481c-a0e5-55a9759bb21c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bbe7f32b29b534c9fa3c1c0d6009ec3b", element="0907e5e1-2fae-4e9b-a357-3d85e0864777")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bbe7f32b29b534c9fa3c1c0d6009ec3b", element="3535d994-1f39-4350-b974-b975ce6a30db")>]

In [93]:
for i in Location_tag:
    location=i.text
    location_List.append(location)
location_List[:11]

['Bengaluru',
 'Bengaluru',
 'Bengaluru',
 'Bengaluru',
 'Chennai, Pune, Mumbai, Bengaluru',
 'Pune, Bengaluru',
 'Pune, Bengaluru',
 'Chennai, Pune, Bengaluru',
 'Bengaluru, Hyderabad',
 'Chennai, Pune, Delhi NCR, Mumbai, Bengaluru, Hyderabad, Kolkata',
 'Bengaluru']

In [95]:
experience_tag=div.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi experience"]')
experience_tag[:4]

[<selenium.webdriver.remote.webelement.WebElement (session="bbe7f32b29b534c9fa3c1c0d6009ec3b", element="3cbb76c8-d5ce-4aae-94bd-e62a8058e551")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bbe7f32b29b534c9fa3c1c0d6009ec3b", element="fc5b6be4-8b16-4b14-9e76-eab7e25297da")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bbe7f32b29b534c9fa3c1c0d6009ec3b", element="f3f52030-02e5-4a40-a80e-d912a9425056")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bbe7f32b29b534c9fa3c1c0d6009ec3b", element="9242a344-ff4c-497b-b137-06ff1ff4ca63")>]

In [96]:
for i in experience_tag:
    experience=i.text
    experience_List.append(experience)
experience_List[:11]

['3-8 Yrs',
 '6-11 Yrs',
 '4-6 Yrs',
 '8-13 Yrs',
 '12-18 Yrs',
 '12-20 Yrs',
 '12-20 Yrs',
 '3-8 Yrs',
 '4-9 Yrs',
 '2-7 Yrs',
 '2-5 Yrs']

In [98]:
div.close()

In [99]:
data=pd.DataFrame({"Job Title":job_title,
                   "Company Name":company_name, 
                   "Job Location":location_List, 
                   "Experience":experience_List})
data.head()

,Job Title,Company Name,Job Location,Experience
0,Data Scientist - Python/ MATLAB/ Machine Learn...,Wrackle Technologies Pvt Ltd,Bengaluru,3-8 Yrs
1,Lead Data Scientist - Machine Learning/ Data M...,Wrackle Technologies Pvt Ltd,Bengaluru,6-11 Yrs
2,Data Scientist - Machine Learning (Commerce BU),BLUE YONDER INDIA PRIVATE LIMITED,Bengaluru,4-6 Yrs
3,Principal Data Scientist - Machine/Deep Learni...,Fidius advisory,Bengaluru,8-13 Yrs
4,Data Scientist,Atos Syntel Private Limited,"Chennai, Pune, Mumbai, Bengaluru",12-18 Yrs

Q4: Write a python program to scrape data for first 10 job results for Data scientist
Designation in Noida location. You have to scrape company_name, No. of days
ago when job was posted, Rating of the company.

In [2]:
Q4= webdriver.Chrome("D:\\Softwares\\chromedriver_win32\\chromedriver.exe")

In [3]:
Q4.get('https://www.glassdoor.co.in/index.htm')

In [4]:
signin=Q4.find_element_by_xpath('//a[@class="track-click gd-btn-locked-transparent susiLink sign-in strong nowrap"]')
signin.click()

In [5]:
Email=Q4.find_element_by_xpath("//input[@id='userEmail']")
Email.send_keys('test.vizag07@gmail.com')
password=Q4.find_element_by_xpath("//input[@id='userPassword']")

password.send_keys('Test@2021')

Signin_button=Q4.find_element_by_xpath("//button[@class='gd-ui-button minWidthBtn css-8i7bc2']")
Signin_button.click()

In [6]:
url1=Q4.current_url
print(url1)

https://www.glassdoor.co.in/index.htm

In [7]:
Q4.get(url1)

In [8]:
job=Q4.find_element_by_xpath('//input[@id="sc.keyword"]')
job.send_keys('Data Science')
Location=Q4.find_element_by_xpath('//input[@id="sc.location"]')
Location.clear()
Location.send_keys("Noida")

Search=Q4.find_element_by_xpath("//button[@class='gd-ui-button ml-std col-auto SearchStyles__newSearchButton css-iixdfr']")
Search.click()

In [9]:
from selenium.webdriver.common.alert import Alert

In [10]:
#Q4.switch_to.alert.dismiss()

In [11]:
company_tags=Q4.find_elements_by_xpath("//a[@class=' css-l2wjgv e1n63ojh0 jobLink']")
company_tags[:4]

[<selenium.webdriver.remote.webelement.WebElement (session="442052ba08961d44bdf63db2c87f4078", element="36afbdeb-5b7e-48ae-a3a7-75f04194948e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="442052ba08961d44bdf63db2c87f4078", element="aaad767d-cdd8-4ce8-b929-acee548db8f7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="442052ba08961d44bdf63db2c87f4078", element="555c7682-33b3-4f6e-bc7b-a6e46f0df950")>,
 <selenium.webdriver.remote.webelement.WebElement (session="442052ba08961d44bdf63db2c87f4078", element="81ba0c7c-33a0-4d58-97af-53eeec6edc4e")>]

In [12]:
company_name=[]
job_age=[]
Review_list=[]

In [13]:
for i in company_tags:
    company=i.text
    company_name.append(company)
company_name[:10]

['NorthPharm services Pvt Ltd',
 'Solugenix Corp',
 'SyngyMAXIM Solutions',
 'Intellobots Technologies',
 'ViHaVe Innovations',
 'Cognizant',
 'Kode Campus',
 'moksha biosciences',
 'Vistan NextGen Pvt Ltd',
 'ADCI HYD 13 SEZ']

In [14]:
job_age_tags=Q4.find_elements_by_xpath('//div[@class="d-flex align-items-end pl-std css-mi55ob"]')
job_age_tags[:4]

[<selenium.webdriver.remote.webelement.WebElement (session="442052ba08961d44bdf63db2c87f4078", element="e53202e6-6618-476b-a1fa-6d9fcede4122")>,
 <selenium.webdriver.remote.webelement.WebElement (session="442052ba08961d44bdf63db2c87f4078", element="bb067ceb-d05d-4177-a97d-136976cd1197")>,
 <selenium.webdriver.remote.webelement.WebElement (session="442052ba08961d44bdf63db2c87f4078", element="6aae52b6-1221-4fc3-bb3b-1e20130996a4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="442052ba08961d44bdf63db2c87f4078", element="831bf2a6-e98a-4780-9827-0a95c33c8055")>]

In [15]:
for i in job_age_tags:
    age=i.text
    job_age.append(age)
job_age

['2d',
 '1d',
 '8d',
 '5d',
 '5d',
 '4d',
 '3d',
 '3d',
 '17d',
 '8d',
 '24h',
 '9d',
 '1d',
 '30d+',
 '16d',
 '24h',
 '12d',
 '25d',
 '21d',
 '29d',
 '26d',
 '2d',
 '24h',
 '3d',
 '30d+',
 '30d+',
 '2d',
 '4d',
 '12d',
 '1d']

In [16]:
Review=Q4.find_elements_by_xpath('//div[@class="d-flex flex-column css-x75kgh e1rrn5ka3"]')
Review[:4]

[<selenium.webdriver.remote.webelement.WebElement (session="442052ba08961d44bdf63db2c87f4078", element="9e6aa09a-97c6-4102-ac31-f0423844b74a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="442052ba08961d44bdf63db2c87f4078", element="7225771d-5465-4978-8d0a-ddc96c4addd0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="442052ba08961d44bdf63db2c87f4078", element="44316b43-8eb1-4003-8192-6a645023598c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="442052ba08961d44bdf63db2c87f4078", element="6d17e29c-86f1-46c6-b45b-e56ecdcc386f")>]

In [17]:
for i in Review:
    re=i.text
    Review_list.append(re)
Review_list

['',
 '4.0',
 '',
 '',
 '',
 '3.7',
 '',
 '',
 '',
 '4.3',
 '',
 '3.7',
 '3.8',
 '',
 '',
 '',
 '4.0',
 '4.2',
 '3.4',
 '3.7',
 '',
 '4.4',
 '4.3',
 '3.8',
 '2.0',
 '3.4',
 '',
 '4.7',
 '4.0',
 '3.3']

In [18]:
info=pd.DataFrame({"company name":company_name[:10], 
                   "days ago":job_age[:10], 
                   "Review":Review_list[:10]})

info.head()

                  company name days ago Review
0  NorthPharm services Pvt Ltd       2d
1               Solugenix Corp       1d    4.0
2         SyngyMAXIM Solutions       8d
3     Intellobots Technologies       5d
4           ViHaVe Innovations       5d

In [ ]:
Q5: Write a python program to scrape the salary data for Data Scientist designation
in Noida location

In [61]:
Q5= webdriver.Chrome("D:\\Softwares\\chromedriver_win32\\chromedriver.exe")

In [62]:
Q5.get('https://www.glassdoor.co.in/Salaries/index.htm')

In [63]:
job=Q5.find_element_by_xpath('//input[@id="KeywordSearch"]')
job.send_keys('Data Science')
Location=Q5.find_element_by_xpath('//input[@id="LocationSearch"]')
Location.clear()
Location.send_keys("Noida")

Search=Q5.find_element_by_xpath("//button[@id='HeroSearchButton']")
Search.click()

In [64]:
Company_name=[]
Avg_salary_list=[]
Min_Max_salary=[]
Review_list=[]

In [65]:
company_tags=Q5.find_elements_by_xpath('//p[@class="m-0 "]')
company_tags[:4]

[<selenium.webdriver.remote.webelement.WebElement (session="5631525bca71ac83876b7d416d6b60dc", element="939ea067-a582-4820-bbe1-bf0715e71136")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5631525bca71ac83876b7d416d6b60dc", element="3ae683a2-344d-4207-bbbe-2d9f928a93aa")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5631525bca71ac83876b7d416d6b60dc", element="d090b3f2-c1e3-4be9-a198-3e789bde765e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5631525bca71ac83876b7d416d6b60dc", element="ca9de979-62a1-4eaa-a055-e508bdcfd695")>]

In [66]:

for i in company_tags:
    company=i.text
    Company_name.append(company)
Company_name[:10]

['Analytics Vidhya',
 'Vidooly Media Tech',
 'OYO',
 'Absolutdata',
 'Yatra Online Pvt Ltd',
 'Zigram',
 'Profeza',
 'Ericsson-Worldwide',
 'Shipsy',
 'Algo8.ai']

In [67]:
Avg_salary=Q5.find_elements_by_xpath('//div[@class="col-2 d-none d-md-flex flex-row justify-content-end"]')
Avg_salary[:4]

[<selenium.webdriver.remote.webelement.WebElement (session="5631525bca71ac83876b7d416d6b60dc", element="16f37912-4257-4681-b019-a481ae9a5cf1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5631525bca71ac83876b7d416d6b60dc", element="e835fd29-8d26-4c93-90d8-e6830efa9146")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5631525bca71ac83876b7d416d6b60dc", element="6c33088c-ccf2-4fde-8fcc-2ea0b0f0a5f9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5631525bca71ac83876b7d416d6b60dc", element="90e3998b-8535-4ed7-b8d0-da2c5b42bc9c")>]

In [74]:

for i in Avg_salary[:20]:
    salary=i.text
    Avg_salary_list.append(salary)
Avg_salary_list

['₹ 21,431\n/mo',
 '₹ 12,680\n/mo',
 '₹ 36,650\n/mo',
 '₹ 18,297\n/mo',
 '₹ 15,996\n/mo',
 '₹ 10,471\n/mo',
 '₹ 10,864\n/mo',
 '₹ 21,431\n/mo',
 '₹ 12,680\n/mo',
 '₹ 36,650\n/mo',
 '₹ 18,297\n/mo',
 '₹ 15,996\n/mo',
 '₹ 10,471\n/mo',
 '₹ 10,864\n/mo']

In [75]:
min_salary=Q5.find_elements_by_xpath("//div[@class='common__RangeBarStyle__values common__flex__justifySpaceBetween common__flex__container ']")
min_salary[:4]

[<selenium.webdriver.remote.webelement.WebElement (session="5631525bca71ac83876b7d416d6b60dc", element="bc1624c4-354e-48a8-8a10-41b657818955")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5631525bca71ac83876b7d416d6b60dc", element="ae119def-c4a8-465f-a1ad-ad0dcbd53217")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5631525bca71ac83876b7d416d6b60dc", element="7d66769b-d176-40e0-90a6-f05934cfea29")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5631525bca71ac83876b7d416d6b60dc", element="6844bdc9-e50f-4c27-bc29-c1a1b6147a7e")>]

In [76]:

for i in min_salary:
    salary=i.text
    Min_Max_salary.append(salary)
Min_Max_salary[:10]

['₹14K\n₹28K',
 '₹9K\n₹20K',
 '₹36K\n₹45K',
 '₹17K\n₹20K',
 '₹11K\n₹16K',
 '₹10K\n₹16K',
 '₹11K\n₹11K',
 '₹34K\n₹44K',
 '₹23K\n₹34K',
 '₹4K\n₹6K']

In [77]:
review=Q5.find_elements_by_xpath('//p[@class="css-1uyte9r css-1kuy7z7 m-0 "]')
review[:4]

[<selenium.webdriver.remote.webelement.WebElement (session="5631525bca71ac83876b7d416d6b60dc", element="efa1e143-14e6-4b83-8729-3578d8d9e8c5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5631525bca71ac83876b7d416d6b60dc", element="65c9830d-1251-4dc1-98af-e5348d3f7c76")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5631525bca71ac83876b7d416d6b60dc", element="93d2ba13-ef41-452d-b878-75518a322f37")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5631525bca71ac83876b7d416d6b60dc", element="2582b648-5740-46d0-ab06-b150e729239b")>]

In [78]:

for i in review:
    reviews=i.text
    Review_list.append(reviews)
Review_list[:10]

['8 salaries',
 '5 salaries',
 '3 salaries',
 '3 salaries',
 '3 salaries',
 '3 salaries',
 '3 salaries',
 '2 salaries',
 '2 salaries',
 '2 salaries']

In [79]:
print(len(Company_name))
print(len(Avg_salary_list))
print(len(Min_Max_salary))
print(len(Review_list))

20
14
40
40

In [80]:
#Q5.close()

In [81]:
salary_data=pd.DataFrame({"Comapny":Company_name[:10],
                         "Avg salary":Avg_salary_list[:10],
                         "Min & Max salary":Min_Max_salary[:10],
                         "Reviews":Review_list[:10]})
salary_data.head()

                Comapny     Avg salary Min & Max salary     Reviews
0      Analytics Vidhya  ₹ 21,431\n/mo       ₹14K\n₹28K  8 salaries
1    Vidooly Media Tech  ₹ 12,680\n/mo        ₹9K\n₹20K  5 salaries
2                   OYO  ₹ 36,650\n/mo       ₹36K\n₹45K  3 salaries
3           Absolutdata  ₹ 18,297\n/mo       ₹17K\n₹20K  3 salaries
4  Yatra Online Pvt Ltd  ₹ 15,996\n/mo       ₹11K\n₹16K  3 salaries

In [ ]:
Q6 : Scrape data of first 100 sunglasses listings on flipkart.com. You have to
scrape four attributes:

In [96]:
Q6= webdriver.Chrome("D:\\Softwares\\chromedriver_win32\\chromedriver.exe")

In [97]:
Q6.get('https://www.flipkart.com/')

In [98]:
close=Q6.find_element_by_xpath("//button[@class='_2KpZ6l _2doB4z']")
close.click()

In [99]:
Search=Q6.find_element_by_xpath("//input[@type='text']")
Search.clear()
Search.send_keys("sunglasses")
Search_button=Q6.find_element_by_xpath("//button[@class='L0Z3Pu']")
Search_button.click()

In [100]:
Brand_tags=Q6.find_elements_by_xpath("//div[@class='_2WkVRV']")   
Brand_tags[:4]

[<selenium.webdriver.remote.webelement.WebElement (session="72954aa8cffc2a62ae585b44d2c43139", element="3b685a1d-afdc-4888-a97f-ddfc0d60c40e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="72954aa8cffc2a62ae585b44d2c43139", element="bf31b188-0d35-4f04-a4ab-efbb5418f6d9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="72954aa8cffc2a62ae585b44d2c43139", element="034f7be2-0396-4a3c-9904-e9c11813a8a0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="72954aa8cffc2a62ae585b44d2c43139", element="e2989fe6-d10d-40f5-966b-552a862de65d")>]

In [101]:
Brand=[]
for i in Brand_tags:
    test=i.text
    Brand.append(test)
Brand

['Royal Son',
 'Royal Son',
 'ROZZETTA CRAFT',
 'Fastrack',
 'Fastrack',
 'Fastrack',
 'ROZZETTA CRAFT',
 'Rozzetta Craft',
 'Fastrack',
 'PIRASO',
 'Phenomenal',
 'Fastrack',
 'shah collections',
 'NuVew',
 'shah collections',
 'Fastrack',
 'Fastrack',
 'Fastrack',
 'Phenomenal',
 'Specsmakers',
 'ETRG',
 'kingsunglasses',
 'Fastrack',
 'Aislin',
 'FDA COLLECTION',
 'FDA COLLECTION',
 'Deixels',
 'ROZZETTA CRAFT',
 'funglasses',
 'NuVew',
 'NuVew',
 'Elligator',
 'funglasses',
 'Aislin',
 'Online Mantra',
 'Riffko',
 'Gansta',
 'PIRASO',
 'PIRASO',
 'Specsmakers']

In [72]:
Dis_price_tags=Q6.find_elements_by_xpath('//div[@class="_30jeq3"]')
Dis_price_tags[:4]

[<selenium.webdriver.remote.webelement.WebElement (session="a68168fa8a6961e77c2706795fb13a15", element="96bd84d4-1275-4981-855d-0aa18a85713f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a68168fa8a6961e77c2706795fb13a15", element="56034864-4084-4e76-854b-bb72173bb5ae")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a68168fa8a6961e77c2706795fb13a15", element="a90c8424-3c14-4168-96a5-6be57a5e815e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a68168fa8a6961e77c2706795fb13a15", element="212dd0df-1d50-4326-9ca1-cc1ea98f59e5")>]

In [75]:
Dis_Price=[]
for i in Dis_price_tags:
    price=i.text
    Dis_Price.append(price)
Dis_Price

['₹664',
 '₹182',
 '₹499',
 '₹499',
 '₹599',
 '₹499',
 '₹404',
 '₹398',
 '₹399',
 '₹314',
 '₹599',
 '₹599',
 '₹896',
 '₹396',
 '₹331',
 '₹227',
 '₹549',
 '₹596',
 '₹399',
 '₹517',
 '₹209',
 '₹284',
 '₹399',
 '₹1,135',
 '₹160',
 '₹211',
 '₹499',
 '₹295',
 '₹151',
 '₹399',
 '₹199',
 '₹210',
 '₹199',
 '₹195',
 '₹284',
 '₹225',
 '₹161',
 '₹179',
 '₹171',
 '₹393']

In [77]:
act_price=Q6.find_elements_by_xpath("//div[@class='_3I9_wc']")
act_price[:4]

[<selenium.webdriver.remote.webelement.WebElement (session="a68168fa8a6961e77c2706795fb13a15", element="307c122d-5005-4957-af35-f7aef4ca0aa0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a68168fa8a6961e77c2706795fb13a15", element="15b4a062-eaa3-4dbb-a9e1-77cec9121bd8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a68168fa8a6961e77c2706795fb13a15", element="809a7f46-a769-4d93-98d8-03915ad1b9e0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a68168fa8a6961e77c2706795fb13a15", element="11477551-b613-415e-9dc2-93368fadd904")>]

In [78]:
Act_price=[]
for i in act_price:
    Ac_price=i.text
    Act_price.append(Ac_price)
Act_price

['₹1,999',
 '₹1,299',
 '₹2,225',
 '₹799',
 '₹899',
 '₹799',
 '₹1,999',
 '₹1,499',
 '₹1,999',
 '₹1,599',
 '₹899',
 '₹899',
 '₹1,299',
 '₹1,250',
 '₹1,699',
 '₹999',
 '₹999',
 '₹799',
 '₹1,999',
 '₹990',
 '₹799',
 '₹1,499',
 '₹799',
 '₹4,250',
 '₹999',
 '₹1,799',
 '₹2,252',
 '₹2,495',
 '₹500',
 '₹1,499',
 '₹1,499',
 '₹1,199',
 '₹1,300',
 '₹978',
 '₹1,999',
 '₹1,599',
 '₹999',
 '₹699',
 '₹1,099',
 '₹1,250']

In [79]:
Discount=Q6.find_elements_by_xpath("//div[@class='_3Ay6Sb']")
Discount[:4]

[<selenium.webdriver.remote.webelement.WebElement (session="a68168fa8a6961e77c2706795fb13a15", element="12df312e-415b-4425-84ac-46e364888f19")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a68168fa8a6961e77c2706795fb13a15", element="06722584-d825-4a0c-a169-340b53386e78")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a68168fa8a6961e77c2706795fb13a15", element="1cdde600-884e-4064-bf7b-86bf04804eea")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a68168fa8a6961e77c2706795fb13a15", element="bdb37be9-5a6b-42e5-adbd-c25dd924590e")>]

In [80]:
Dis=[]
for i in Discount:
    offer=i.text
    Dis.append(offer)
Dis

['66% off',
 '85% off',
 '77% off',
 '37% off',
 '33% off',
 '37% off',
 '79% off',
 '73% off',
 '80% off',
 '80% off',
 '33% off',
 '33% off',
 '31% off',
 '68% off',
 '80% off',
 '77% off',
 '45% off',
 '25% off',
 '80% off',
 '47% off',
 '73% off',
 '81% off',
 '50% off',
 '73% off',
 '83% off',
 '88% off',
 '77% off',
 '88% off',
 '69% off',
 '73% off',
 '86% off',
 '82% off',
 '84% off',
 '80% off',
 '85% off',
 '85% off',
 '83% off',
 '74% off',
 '84% off',
 '68% off']

In [90]:
Page=Q6.find_element_by_link_text("2")
Page.click()
#p2=Page[1:2]
#p2
url=Q6.current_url
print(url)

https://www.flipkart.com/search?q=sunglasses&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=2

In [102]:
Q6.get(url)

In [103]:
Brand2_tags=Q6.find_elements_by_xpath("//div[@class='_2WkVRV']")   
Brand2_tags[:4]

[<selenium.webdriver.remote.webelement.WebElement (session="72954aa8cffc2a62ae585b44d2c43139", element="4ac1ba89-0f33-4ae8-b09e-72737e8df6b7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="72954aa8cffc2a62ae585b44d2c43139", element="359f98a7-9e45-4768-b4ac-acafa4b63ea8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="72954aa8cffc2a62ae585b44d2c43139", element="7c084aac-778b-4779-a609-0e89d2859e9d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="72954aa8cffc2a62ae585b44d2c43139", element="6cbf1e5d-eac8-4dfa-8f95-90d89ba42fa7")>]

In [104]:
Brand2=[]
for i in Brand2_tags:
    brand=i.text
    Brand2.append(brand)
Brand2

['Royal Son',
 'Fastrack',
 'Freddy',
 'Royal Son',
 'David Martin',
 'funglasses',
 'Fastrack',
 'David Martin',
 'Ayezent',
 'NuVew',
 'JUST STYLE',
 'PIRASO',
 'ROZZETTA CRAFT',
 'Specsmakers',
 'Tazzx',
 'Rozzetta Craft',
 'povty',
 'HAMIW COLLECTION',
 'ALEYBEE',
 'Aislin',
 'Fastrack',
 'Singco India',
 'Singco India',
 'NuVew',
 'Riffko',
 'HIPPON',
 'Elegant',
 'ROZZETTA CRAFT',
 'Fastrack',
 'ROYAL SON',
 'Fravy',
 'Trendy Glasses',
 'kingsunglasses',
 'Aislin',
 'shadz',
 'shah collections',
 'ZOSTAL',
 'NuVew',
 'I Flash',
 'Aislin']

In [105]:
Dis_price_tags2=Q6.find_elements_by_xpath('//div[@class="_30jeq3"]')
Dis_price_tags2[:4]

[<selenium.webdriver.remote.webelement.WebElement (session="72954aa8cffc2a62ae585b44d2c43139", element="7cae083e-bce3-4c40-8d4a-f097fc75583f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="72954aa8cffc2a62ae585b44d2c43139", element="83dd04fb-2426-4a1a-be26-08e1ef04f35b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="72954aa8cffc2a62ae585b44d2c43139", element="d1d7c0a5-df9a-44c8-b363-6e9f9570f23c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="72954aa8cffc2a62ae585b44d2c43139", element="8a489a7d-13db-49be-9408-2011e9f6b087")>]

In [107]:
Dis_Price2=[]
for i in Dis_price_tags2:
    price=i.text
    Dis_Price2.append(price)
Dis_Price2

['₹279',
 '₹599',
 '₹165',
 '₹664',
 '₹185',
 '₹125',
 '₹599',
 '₹298',
 '₹282',
 '₹396',
 '₹99',
 '₹349',
 '₹399',
 '₹517',
 '₹159',
 '₹499',
 '₹324',
 '₹399',
 '₹189',
 '₹1,135',
 '₹695',
 '₹315',
 '₹189',
 '₹393',
 '₹190',
 '₹198',
 '₹239',
 '₹449',
 '₹649',
 '₹569',
 '₹289',
 '₹289',
 '₹284',
 '₹711',
 '₹114',
 '₹169',
 '₹208',
 '₹283',
 '₹123',
 '₹475']

In [108]:
act_price2=Q6.find_elements_by_xpath("//div[@class='_3I9_wc']")
act_price2[:4]

[<selenium.webdriver.remote.webelement.WebElement (session="72954aa8cffc2a62ae585b44d2c43139", element="14324844-4c29-4799-88bf-822b3afaa0a1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="72954aa8cffc2a62ae585b44d2c43139", element="9504cb9a-0948-41dd-b449-831db020f672")>,
 <selenium.webdriver.remote.webelement.WebElement (session="72954aa8cffc2a62ae585b44d2c43139", element="f6cf7ea1-262b-4cb4-ac69-0ac29a0f1359")>,
 <selenium.webdriver.remote.webelement.WebElement (session="72954aa8cffc2a62ae585b44d2c43139", element="698de2ac-7d6a-4600-9ed0-3400241e91af")>]

In [109]:
Act_price2=[]
for i in act_price2:
    Ac_price=i.text
    Act_price2.append(Ac_price)
Act_price2

['₹1,299',
 '₹999',
 '₹1,299',
 '₹1,999',
 '₹1,099',
 '₹749',
 '₹899',
 '₹1,399',
 '₹1,999',
 '₹1,250',
 '₹599',
 '₹2,599',
 '₹1,446',
 '₹990',
 '₹999',
 '₹2,555',
 '₹999',
 '₹2,999',
 '₹1,499',
 '₹4,250',
 '₹799',
 '₹1,199',
 '₹699',
 '₹1,250',
 '₹999',
 '₹1,199',
 '₹1,499',
 '₹2,225',
 '₹899',
 '₹1,499',
 '₹1,499',
 '₹1,266',
 '₹1,399',
 '₹3,200',
 '₹699',
 '₹999',
 '₹999',
 '₹785',
 '₹999',
 '₹1,525']

In [110]:
Discount2=Q6.find_elements_by_xpath("//div[@class='_3Ay6Sb']")
Discount2[:4]

[<selenium.webdriver.remote.webelement.WebElement (session="72954aa8cffc2a62ae585b44d2c43139", element="aecbf26f-fdb5-4a04-b629-bf641aa24123")>,
 <selenium.webdriver.remote.webelement.WebElement (session="72954aa8cffc2a62ae585b44d2c43139", element="fe61db43-6728-43fe-9f2b-4d9f176384f0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="72954aa8cffc2a62ae585b44d2c43139", element="c0c8de44-39af-4204-9b6d-6fb210fd889b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="72954aa8cffc2a62ae585b44d2c43139", element="4b7eb29c-dd8c-4de1-b136-b949af5bb0e8")>]

In [111]:
Dis2=[]
for i in Discount2:
    offer=i.text
    Dis2.append(offer)
Dis2

['78% off',
 '40% off',
 '87% off',
 '66% off',
 '83% off',
 '83% off',
 '33% off',
 '78% off',
 '85% off',
 '68% off',
 '83% off',
 '86% off',
 '72% off',
 '47% off',
 '84% off',
 '80% off',
 '67% off',
 '86% off',
 '87% off',
 '73% off',
 '13% off',
 '73% off',
 '72% off',
 '68% off',
 '80% off',
 '83% off',
 '84% off',
 '79% off',
 '27% off',
 '62% off',
 '80% off',
 '77% off',
 '79% off',
 '77% off',
 '83% off',
 '83% off',
 '79% off',
 '63% off',
 '87% off',
 '68% off']

In [113]:
Page2=Q6.find_element_by_link_text("3")
Page2.click()

url2=Q6.current_url
print(url2)

https://www.flipkart.com/search?q=sunglasses&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=3

In [114]:
Q6.get(url2)

In [115]:
Brand3_tags=Q6.find_elements_by_xpath("//div[@class='_2WkVRV']")   
Brand3_tags[:4]

[<selenium.webdriver.remote.webelement.WebElement (session="72954aa8cffc2a62ae585b44d2c43139", element="823d3c99-e1d4-4170-b920-8f9a82a78b7d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="72954aa8cffc2a62ae585b44d2c43139", element="b3321394-e9a2-4230-9074-00c701e752a1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="72954aa8cffc2a62ae585b44d2c43139", element="3d2047dc-6f8a-4e06-a1ed-4aeca2eddc25")>,
 <selenium.webdriver.remote.webelement.WebElement (session="72954aa8cffc2a62ae585b44d2c43139", element="86e92829-e959-4b6c-872e-919e1914cdeb")>]

In [118]:
Brand3=[]
for i in Brand3_tags:
    brand=i.text
    Brand3.append(brand)
Brand3

['Fastrack',
 'Phenomenal',
 'Gansta',
 'Royal Son',
 'Rich Club',
 'Fastrack',
 'Elligator',
 'Poland',
 'Silver Kartz',
 'NuVew',
 'Fastrack',
 'Winsome',
 'NuVew',
 'Specsmakers',
 'Collet',
 'Fastrack',
 'Badfella',
 'kingsunglasses',
 'PC STAR',
 'Aislin',
 'simra',
 'I Flash',
 'Fastrack',
 'NuVew',
 'Criba',
 'Criba',
 'Scaglia',
 'Phenomenal',
 'Dannilo',
 'ROYAL SON',
 'ROYAL SON',
 'Fastrack',
 'PIRASO',
 'Aislin',
 'PIRASO',
 'ROZZETTA CRAFT',
 'Phenomenal',
 'United Colors of Benetton',
 'Ayezent',
 'Aislin']

In [119]:
Dis_price_tags3=Q6.find_elements_by_xpath('//div[@class="_30jeq3"]')
Dis_price_tags3[:4]

[<selenium.webdriver.remote.webelement.WebElement (session="72954aa8cffc2a62ae585b44d2c43139", element="5ae276e4-54b6-460f-a92d-f804822f4fec")>,
 <selenium.webdriver.remote.webelement.WebElement (session="72954aa8cffc2a62ae585b44d2c43139", element="a52cea16-2dbb-4233-8bbe-de6f74e0d558")>,
 <selenium.webdriver.remote.webelement.WebElement (session="72954aa8cffc2a62ae585b44d2c43139", element="ab1d889c-087a-485c-8be2-bdf82ea0e1fc")>,
 <selenium.webdriver.remote.webelement.WebElement (session="72954aa8cffc2a62ae585b44d2c43139", element="3407e414-a60d-4844-a45e-42d64b5c1d0a")>]

In [120]:
Dis_Price3=[]
for i in Dis_price_tags3:
    price=i.text
    Dis_Price3.append(price)
Dis_Price3

['₹652',
 '₹399',
 '₹288',
 '₹664',
 '₹199',
 '₹669',
 '₹328',
 '₹140',
 '₹246',
 '₹396',
 '₹1,142',
 '₹171',
 '₹198',
 '₹517',
 '₹249',
 '₹499',
 '₹269',
 '₹141',
 '₹238',
 '₹1,135',
 '₹234',
 '₹165',
 '₹899',
 '₹393',
 '₹235',
 '₹175',
 '₹165',
 '₹399',
 '₹236',
 '₹569',
 '₹599',
 '₹549',
 '₹225',
 '₹1,087',
 '₹225',
 '₹449',
 '₹399',
 '₹1,640',
 '₹224',
 '₹711']

In [121]:
act_price3=Q6.find_elements_by_xpath("//div[@class='_3I9_wc']")
act_price2[:4]

[<selenium.webdriver.remote.webelement.WebElement (session="72954aa8cffc2a62ae585b44d2c43139", element="14324844-4c29-4799-88bf-822b3afaa0a1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="72954aa8cffc2a62ae585b44d2c43139", element="9504cb9a-0948-41dd-b449-831db020f672")>,
 <selenium.webdriver.remote.webelement.WebElement (session="72954aa8cffc2a62ae585b44d2c43139", element="f6cf7ea1-262b-4cb4-ac69-0ac29a0f1359")>,
 <selenium.webdriver.remote.webelement.WebElement (session="72954aa8cffc2a62ae585b44d2c43139", element="698de2ac-7d6a-4600-9ed0-3400241e91af")>]

In [122]:
Act_price3=[]
for i in act_price3:
    Ac_price=i.text
    Act_price3.append(Ac_price)
Act_price3

['₹799',
 '₹1,999',
 '₹1,999',
 '₹1,999',
 '₹799',
 '₹799',
 '₹2,499',
 '₹499',
 '₹1,499',
 '₹1,250',
 '₹1,299',
 '₹999',
 '₹945',
 '₹990',
 '₹1,499',
 '₹899',
 '₹999',
 '₹999',
 '₹999',
 '₹4,250',
 '₹699',
 '₹1,199',
 '₹1,299',
 '₹1,250',
 '₹999',
 '₹499',
 '₹599',
 '₹1,999',
 '₹999',
 '₹1,499',
 '₹1,999',
 '₹899',
 '₹1,599',
 '₹4,100',
 '₹1,599',
 '₹1,995',
 '₹1,999',
 '₹4,100',
 '₹745',
 '₹3,200']

In [123]:
Discount3=Q6.find_elements_by_xpath("//div[@class='_3Ay6Sb']")
Discount3[:4]

[<selenium.webdriver.remote.webelement.WebElement (session="72954aa8cffc2a62ae585b44d2c43139", element="5ad96eef-80f5-488f-ac32-fc0391cad5cc")>,
 <selenium.webdriver.remote.webelement.WebElement (session="72954aa8cffc2a62ae585b44d2c43139", element="4226b247-fd9a-4044-853c-a758bf9a87ac")>,
 <selenium.webdriver.remote.webelement.WebElement (session="72954aa8cffc2a62ae585b44d2c43139", element="40707ab9-f44d-49a1-a871-09865ce8861f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="72954aa8cffc2a62ae585b44d2c43139", element="78e0eac9-ed1a-40b3-ac06-2fce520adae0")>]

In [124]:
Dis3=[]
for i in Discount3:
    offer=i.text
    Dis3.append(offer)
Dis3

['18% off',
 '80% off',
 '85% off',
 '66% off',
 '75% off',
 '16% off',
 '86% off',
 '71% off',
 '83% off',
 '68% off',
 '12% off',
 '82% off',
 '79% off',
 '47% off',
 '83% off',
 '44% off',
 '73% off',
 '85% off',
 '76% off',
 '73% off',
 '66% off',
 '86% off',
 '30% off',
 '68% off',
 '76% off',
 '64% off',
 '72% off',
 '80% off',
 '76% off',
 '62% off',
 '70% off',
 '38% off',
 '85% off',
 '73% off',
 '85% off',
 '77% off',
 '80% off',
 '60% off',
 '69% off',
 '77% off']

Q7: Scrape 100 reviews data from flipkart.com for iphone11 phone. You have to
go the link: https://www.flipkart.com/apple-iphone-11-black-64-gb-includesearpods-poweradapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKC
TSVZAXUHGREPBFGI&marketplace.

In [127]:
Q7=webdriver.Chrome("D:\\Softwares\\chromedriver_win32\\chromedriver.exe")

In [130]:
Q7.get("https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART%27)")

In [123]:
Q7.find_element_by_xpath("//div[@class='_3UAT2v _16PBlm']").click()
url=Q7.current_url
print(url)

https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART

In [137]:
Full_Rev=[]
Ratings=[]
Reviews=[]
Full_Rev=[]

for i in range(10):
    url=Q7.find_element_by_xpath("//a[@class='ge-49M _2Kfbh8']").get_attribute('href')
    Q7.get(url)
    
    Rating=Q7.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
    for j in Rating:
        review=j.text
        Ratings.append(review)
        
    review=Q7.find_elements_by_xpath("//p[@class='_2-N8zT']")
    
    for k in review:
        rev=k.text
        Reviews.append(rev)
        
    full_review=Q7.find_elements_by_xpath("//div[@class='t-ZTKy']")
    for l in full_review:
        rev=l.text
        Full_Rev.append(rev)

In [139]:
df=pd.DataFrame({'Rating': Ratings,
                'Short Review': Reviews,
               'Full Review': Full_Rev})
df

,Rating,Short Review,Full Review
0,5,Perfect product!,Amazing phone with great cameras and better ba...
1,5,Great product,Amazing Powerful and Durable Gadget.\n\nI’m am...
2,5,Highly recommended,iphone 11 is a very good phone to buy only if ...
3,5,Perfect product!,It’s a must buy who is looking for an upgrade ...
4,5,Brilliant,The Best Phone for the Money\n\nThe iPhone 11 ...
...,...,...,...
95,5,Perfect product!,Value for money❤️❤️\nIts awesome mobile phone ...
96,5,Worth every penny,Best budget Iphone till date ❤️ go for it guys...
97,5,Worth every penny,It’s been almost a month since I have been usi...
98,5,Wonderful,*Review after 10 months of usage*\nDoesn't see...
99,4,Nice product,Awesome Phone. Slightly high price but worth. ...

Q10: Go to webpage https://www.amazon.in/ Enter “Laptop” in the search field and then click the search icon.
 Then set CPU Type filter to “Intel Core i7” and “Intel Core i9” as shown in the

In [46]:
Q10=webdriver.Chrome("D:\\Softwares\\chromedriver_win32\\chromedriver.exe")

In [47]:
Q10.get("https://www.amazon.in/")

In [48]:
Search=Q10.find_element_by_xpath("//input[@id='twotabsearchtextbox']")
Search.send_keys("Laptop ")
submit=Q10.find_element_by_xpath("//input[@type='submit']")
submit.click()
url=Q10.current_url
print(url)

https://www.amazon.in/s?k=Laptop&ref=nb_sb_noss

In [49]:
cpu=Q10.find_element_by_link_text("Intel Core i7")
cpu.click()
url1=Q10.current_url
print(url1)

https://www.amazon.in/s?k=Laptop&rh=n%3A1375424031%2Cp_n_feature_thirteen_browse-bin%3A12598163031&dc&qid=1613761700&rnid=12598141031&ref=sr_nr_p_n_feature_thirteen_browse-bin_16

In [50]:
filter_button=Q10.find_elements_by_xpath("//a[@class='a-link-normal s-navigation-item']/span")
for i in filter_button:
    if i.text=='Intel Core i7':
        i.click()
        break

In [51]:
filter_button=Q10.find_elements_by_xpath("//a[@class='a-link-normal s-navigation-item']/span")
for i in filter_button:
    if i.text=='Intel Core i9':
        i.click()
        break

In [52]:
Title=Q10.find_elements_by_xpath("//span[@class='a-size-medium a-color-base a-text-normal']")
Title

[<selenium.webdriver.remote.webelement.WebElement (session="07933eb04d6bf06a128ad5554de26a30", element="17e5b5fa-40d8-467d-a803-20bbb8103604")>,
 <selenium.webdriver.remote.webelement.WebElement (session="07933eb04d6bf06a128ad5554de26a30", element="530f2358-6135-4f73-9048-a10662754414")>,
 <selenium.webdriver.remote.webelement.WebElement (session="07933eb04d6bf06a128ad5554de26a30", element="1f580261-c22f-42c0-b509-908567cac4b7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="07933eb04d6bf06a128ad5554de26a30", element="0363b869-49d7-4a89-a452-b43bd09e1e1b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="07933eb04d6bf06a128ad5554de26a30", element="e8dff252-0926-4df9-8929-6500ac068818")>,
 <selenium.webdriver.remote.webelement.WebElement (session="07933eb04d6bf06a128ad5554de26a30", element="68cf19e0-f18f-4b94-b56f-5aff319fe0f8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="07933eb04d6bf06a128ad5554de26a30", element="18feef70-0ab3-4d3b-8489-2328991948f1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="07933eb04d6bf06a128ad5554de26a30", element="e089ba34-b00b-4834-b92a-05d671b830d3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="07933eb04d6bf06a128ad5554de26a30", element="1a624fcd-b99f-4db4-91d0-b2ec035c28b5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="07933eb04d6bf06a128ad5554de26a30", element="576f167d-78dc-45cb-8666-820c77912c70")>,
 <selenium.webdriver.remote.webelement.WebElement (session="07933eb04d6bf06a128ad5554de26a30", element="daf0784f-188e-41db-8331-eacceba02124")>,
 <selenium.webdriver.remote.webelement.WebElement (session="07933eb04d6bf06a128ad5554de26a30", element="c04f3e7c-6f98-4190-b25f-1fd74de83827")>,
 <selenium.webdriver.remote.webelement.WebElement (session="07933eb04d6bf06a128ad5554de26a30", element="f94f2ca7-fd2c-4265-acb1-682efc728420")>,
 <selenium.webdriver.remote.webelement.WebElement (session="07933eb04d6bf06a128ad5554de26a30", element="fe565d40-9715-4e15-8c99-dfc4cb5bee8b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="07933eb04d6bf06a128ad5554de26a30", element="4e4b5eba-9beb-4b42-bc1b-4cc33dbfc5f9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="07933eb04d6bf06a128ad5554de26a30", element="60042f57-9f4c-4dd1-826f-74a61fcfbf24")>,
 <selenium.webdriver.remote.webelement.WebElement (session="07933eb04d6bf06a128ad5554de26a30", element="f5adbd5a-1fad-422c-ad16-83102967e9af")>,
 <selenium.webdriver.remote.webelement.WebElement (session="07933eb04d6bf06a128ad5554de26a30", element="e8e341f9-a5bb-479c-b2d2-487c0c230527")>,
 <selenium.webdriver.remote.webelement.WebElement (session="07933eb04d6bf06a128ad5554de26a30", element="b182dca2-5cf1-4bfa-a79a-79e1419edcd7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="07933eb04d6bf06a128ad5554de26a30", element="5d68d6c9-7a86-4a30-9d45-baba903ad180")>]

In [53]:
Titles=[]
for i in Title[:10]:
    title=i.text
    Titles.append(title)
Titles

['ASUS ZenBook Pro Duo Intel Core i9-10980HK 10th Gen 15.6" 4K UHD OLED Touchscreen Laptop (32GB RAM/1TB NVMe SSD/Windows 10/6GB NVIDIA GeForce RTX 2060 Graphics/Celestial Blue/2.5 Kg), UX581LV-H2035T',
 'ASUS ZenBook Pro 15, Intel Core i9-8950HK 8th Gen, 15.6-Inch 4K UHD Thin and Light Touch Laptop (8GB RAM/1TB SSD/Windows 10/4GB GeForce GTX 1050 Ti Graphics/Deep Dive Blue/1.88 kg), UX580GE-E2032T',
 '(Renewed) Dell G7 15 Gaming 7588 Laptop Intel Core 8th Generation i9-8950HK/15.6 inch FHD/1TB + 128GB SSD/16GB/6GB Nvidia Graphics/Win 10 Home SL/Licorice Black - LCD Back Cover',
 'Dell XPS 9570 15.6-inch UHD Laptop (8th Gen i9-8950HK/32GB/1TB SSD/Win 10 + MS Office/Integrated Graphics), Silver',
 'Dell G Series G7 7588 15.6-inch FHD Laptop (8th gen Core i9-8950HK/16GB/1TB + 128GB SSD/Windows 10/MS Office/6 GB Nvidia GeForce GTX 1060 Graphics) Alpine White',
 'Dell XPS 7590 15.6-inch UHD Display Laptop (9th Gen Core i9-9980HK/32GB/1TB SSD/Win 10 + MS Office/4GB Nvidia Graphics), Abyss Grey',
 'ASUS ROG Strix Scar 15 (2020), 15.6" FHD 300Hz/3ms, Intel Core i9-10980HK 10th Gen, RTX 2070 Super 8GB Graphics, Gaming Laptop (32GB RAM/1TB NVMe SSD/Windows 10/Black/2.35 Kg), G532LWS-HF079T',
 'ASUS ROG Strix Scar 17 (2020), 17.3" FHD 300Hz/3ms, Intel Core i9-10980HK 10th Gen, RTX 2080 Super GDDR6 8GB Graphics, Gaming Laptop (32GB/2TB RAID 0 SSD/Windows 10/Black/2.99 Kg), G732LXS-HG059T',
 'ASUS ZenBook Pro Duo UX581 Intel Core i9 9th Gen 15.6" 4K UHD OLED Touchscreen Laptop (32GB RAM/1TB NVMe SSD/Windows 10/6GB GDDR6 Graphics Card/ScreenPad Plus/Celestial Blue/2.50 Kg), UX581GV-H9201T',
 'Lenovo Legion 7i 10th Gen Intel Core i9 15.6 inch Full HD Gaming Laptop (16GB/1TB SSD/Windows 10/MS Office 2019/144 Hz/NVIDIA RTX 2080 8GB GDDR6 Graphics/Slate Grey/2.25Kg), 81YU006HIN']

In [54]:
price=[]
prices=Q10.find_elements_by_xpath("//span[@class='a-price-whole']")
for i in prices[:10]:
    price.append(i.text)
price

['2,68,325',
 '1,63,900',
 '1,19,755',
 '2,45,990',
 '1,30,000',
 '2,85,000',
 '1,99,980',
 '2,76,980',
 '2,67,990',
 '2,62,990']

In [55]:
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException

In [40]:
Ratings=[]
Rating=Q10.find_elements_by_xpath('//i[@class="a-icon a-icon-star-small a-star-small-4 aok-align-bottom"]')
rates=[]
for i in Rating[:10]:
    rates.append(i.get_attribute('href'))
for url in rates:
    Q10.get(Rating)
    try:                  
        rate=Q10.find_element_by_xpath("//span[@id='acrCustomerReviewText']")
        rate.click()                                                      
        rating=Q10.find_element_by_xpath("//span[@class='a-size-medium a-color-base']")
        Ratings.append(rating.text)
        
    except NoSuchElementException   as e:
        Ratings.append("NO rating")

In [57]:
print(len(Titles))
print(len(price))
print(len(Ratings))

10
10
10

In [58]:
df=pd.DataFrame({'Title':Titles,
                'Price':price,
                'Ratings':Ratings})
#printing dataframe
print(df)

                                               Title     Price       Ratings
0  ASUS ZenBook Pro Duo Intel Core i9-10980HK 10t...  2,68,325    5 out of 5
1  ASUS ZenBook Pro 15, Intel Core i9-8950HK 8th ...  1,63,900     NO rating
2  (Renewed) Dell G7 15 Gaming 7588 Laptop Intel ...  1,19,755     NO rating
3  Dell XPS 9570 15.6-inch UHD Laptop (8th Gen i9...  2,45,990  2.3 out of 5
4  Dell G Series G7 7588 15.6-inch FHD Laptop (8t...  1,30,000  2.9 out of 5
5  Dell XPS 7590 15.6-inch UHD Display Laptop (9t...  2,85,000  3.5 out of 5
6  ASUS ROG Strix Scar 15 (2020), 15.6" FHD 300Hz...  1,99,980  3.8 out of 5
7  ASUS ROG Strix Scar 17 (2020), 17.3" FHD 300Hz...  2,76,980    5 out of 5
8  ASUS ZenBook Pro Duo UX581 Intel Core i9 9th G...  2,67,990  4.1 out of 5
9  Lenovo Legion 7i 10th Gen Intel Core i9 15.6 i...  2,62,990  3.1 out of 5

Q8: Scrape data for first 100 sneakers you find when you visit flipkart.com and
search for “sneakers” in the search field.

In [93]:
Q8=webdriver.Chrome("D:\\Softwares\\chromedriver_win32\\chromedriver.exe")

In [94]:
Q8.get("https://www.flipkart.com/")

In [95]:
close=Q8.find_element_by_xpath("//button[@class='_2KpZ6l _2doB4z']")
close.click()

In [96]:
Search=Q8.find_element_by_xpath("//input[@type='text']")
Search.clear()
Search.send_keys("sneakers")
Search_button=Q8.find_element_by_xpath("//button[@class='L0Z3Pu']")
Search_button.click()

In [98]:
Brand=[]
Dis=[]
Price=[]
Dec=[]
urls=[]

for i in range(10):
    urls=Q8.find_element_by_xpath("//a[@class='ge-49M']").get_attribute('href')
    Q8.get(urls)
    
    for j in Q8.find_elements_by_xpath("//div[@class='_2WkVRV']"):
        Brand.append(j.text)
        
    for k in Q8.find_elements_by_xpath("//div[@class='_3Ay6Sb']"):
        Dis.append(k.text)
        
    for l in Q8.find_elements_by_xpath("//div[@class='_3I9_wc']"):
        Price.append(l.text)
        
    for m in Q8.find_elements_by_xpath("//a[@class='IRpwTa']"):
        Dec.append(m.text)

In [99]:
print(len(Brand))
print(len(Dis))
print(len(Price))
print(len(Dec))

400
400
400
350

In [101]:
df=pd.DataFrame({'Brand':Brand[:100],
                'Description':Dis[:100],
                'Price':Price[:100],
                'Discount':Dec[:100]})
#printing dataframe
print(df)

           Brand Description   Price  \
0       ASTEROID     62% off    ₹999
1      Rockfield     62% off    ₹999
2        Shoefly     65% off    ₹998
3       inklenzo     50% off    ₹999
4         Armado     50% off    ₹998
..           ...         ...     ...
95  Black Bottom     60% off    ₹999
96     SCATCHITE     60% off    ₹999
97  Robbie Jones     57% off    ₹999
98       Shoefly     70% off    ₹998
99     Marc Ecko     52% off  ₹2,199

                                             Discount
0   Feather Print New Spring Season White Shoes Me...
1                                    Sneakers For Men
2   Combo Men Pack of 2 Loafers Shoes Sneakers For...
3                            Walking Sneakers For Men
4                                    Sneakers For Men
..                                                ...
95     White Sneaker For Men's/Boy's Sneakers For Men
96                                   Sneakers For Men
97                                   Sneakers For Men
98                 Super 445 Fashion Sneakers For Men
99        Casuals, Canvas, Partywear Sneakers For Men

[100 rows x 4 columns]

Q9: Go to the link - https://www.myntra.com/shoes
Set Price filter to “Rs. 6649 to Rs. 13099” , Color filter to “Black”

In [102]:
Q9=webdriver.Chrome("D:\\Softwares\\chromedriver_win32\\chromedriver.exe")

In [104]:
Q9.get("https://www.myntra.com/shoes?f=Color%3ABlack_36454f&plaEnabled=false&rf=Price%3A6612.0_13075.0_6612.0%20TO%2013075.0")

In [115]:
start=0
end=8
for page in range(start,end): 
    nxt_button=Q9.find_element_by_xpath("//li[@class='pagination-next']")
    
    
    shoe=[]
    s_desc=[]
    desc=[]
    price=[]
    
    
    
    Names=Q9.find_elements_by_xpath("//div[@class='product-productMetaInfo']/h3")
    
    for i in Names:
        shoe.append(i.text)
    
    desc=Q9.find_elements_by_xpath("//div[@class='product-productMetaInfo']/h4")
    for i in desc:
        s_desc.append(i.text)
    
    for j in range(0,len(s_desc),2):
        desc.append(s_desc[j])
    
    
    desc=Q9.find_elements_by_xpath("//div[@class='product-price']")
    for i in desc:
         price.append(i.text)

In [119]:
df=pd.DataFrame({'Brand': shoe,'Short-description': desc,'Price': price})
df.head()

  Brand               Short-description                        Price
0  Nike     Men JORDAN DELTA Basketball                    Rs. 12495
1  Nike     Men AIR ZOOM VOMERO Running  Rs. 10796Rs. 13495(20% OFF)
2  Nike    Women AIR ZOOM Running Shoes    Rs. 7996Rs. 9995(20% OFF)
3  Nike  AIR ZOOM PEGASUS Running Shoes   Rs. 8621Rs. 11495(25% OFF)
4  Nike       Men JOYRIDE Running Shoes  Rs. 11996Rs. 14995(20% OFF)