In [2]:
import selenium
import pandas as pd
from selenium import webdriver

In [3]:
driver= webdriver.Chrome("D:\\Softwares\\chromedriver_win32\\chromedriver.exe")

In [4]:
driver.get('https://www.naukri.com/')

In [5]:
Search=driver.find_element_by_xpath("//input[@placeholder='Skills, Designations, Companies']")
Search.send_keys('Data Analyst')
Location=driver.find_element_by_id('qsb-location-sugg')
Location.send_keys('Bangalore')
Search_button=driver.find_element_by_xpath('//div[@class="search-btn"]/button')
Search_button.click()

In [6]:
Url=driver.current_url
print(Url)

https://www.naukri.com/data-analyst-jobs-in-bangalore?k=data%20analyst&l=bangalore

In [7]:
driver.get(Url)

In [8]:
job_title=[]
company_name=[]
location_List=[]
experience_List=[]

In [9]:
title_tags=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
title_tags[:4]

[<selenium.webdriver.remote.webelement.WebElement (session="a8b163264fe2a9ce6976b472b883e6f4", element="5cfdd812-5a15-45e7-80ab-c5743a815279")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a8b163264fe2a9ce6976b472b883e6f4", element="caccc8f1-15a3-4882-8394-0e91e97053c7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a8b163264fe2a9ce6976b472b883e6f4", element="c5edf487-befd-40f2-848c-4918f756461c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a8b163264fe2a9ce6976b472b883e6f4", element="53cd3c6b-3462-47a2-91ae-12640495b4a6")>]

In [10]:
for i in title_tags:
    title=i.text
    job_title.append(title)
job_title[:4]

['MIS/ Data Analyst-(SQL,Automation,Excel/PowerBI,Dashboards) - Contract',
 'Data Analyst - SAP',
 'Hiring Data Analysts on Contract',
 'Senior Data Analyst']

In [11]:
company_tag=driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')
company_tag[:4]

[<selenium.webdriver.remote.webelement.WebElement (session="a8b163264fe2a9ce6976b472b883e6f4", element="24105050-91ea-4f51-8476-a4b038c1bf12")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a8b163264fe2a9ce6976b472b883e6f4", element="974a872a-dcca-4eb0-acbe-fb7c9d42aae9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a8b163264fe2a9ce6976b472b883e6f4", element="fca9d0bf-428b-4641-b2d0-09a5fa71f33c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a8b163264fe2a9ce6976b472b883e6f4", element="55abc673-7802-46a4-b571-dae64a3b348d")>]

In [12]:
for i in company_tag:
    company_names=i.text
    company_name.append(company_names)
company_name[:11]

['Flipkart Internet Private Limited',
 'Boston Scientific Corporation',
 'Flipkart Internet Private Limited',
 'Schneider Electric',
 'Philips India Limited',
 'Mindtree Limited',
 'IBM India Pvt. Limited',
 'RANDSTAD INDIA PVT LTD',
 'Outsource Big Data',
 'Capgemini Technology Services India Limited',
 'Emagine People Technologies Private Limited']

In [13]:
Location_tag=driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]')
Location_tag[:4]

[<selenium.webdriver.remote.webelement.WebElement (session="a8b163264fe2a9ce6976b472b883e6f4", element="c0d2ce58-b197-4f91-9f9c-e69b45f9a73b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a8b163264fe2a9ce6976b472b883e6f4", element="e3479160-0600-4103-b905-2bd80e7a7faa")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a8b163264fe2a9ce6976b472b883e6f4", element="978f29b8-786d-4542-a6cf-aa62b598153d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a8b163264fe2a9ce6976b472b883e6f4", element="62f93b0c-813a-482a-9fdb-83cf0ca90f88")>]

In [14]:
for i in Location_tag:
    location=i.text
    location_List.append(location)
location_List[:11]

['Bengaluru',
 'Pune, Delhi, Bengaluru, Gurgaon',
 'Bengaluru',
 'Bengaluru / Bangalore',
 'Bengaluru',
 'Chennai, Pune, Bengaluru, Hyderabad',
 'Bengaluru',
 'Bengaluru',
 'Bengaluru',
 'Bengaluru',
 'Chennai, Bengaluru']

In [15]:


experience_tag=driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi experience"]')
experience_tag[:4]

[<selenium.webdriver.remote.webelement.WebElement (session="a8b163264fe2a9ce6976b472b883e6f4", element="22b3fdbb-04fb-4c35-8747-5ef4473f4363")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a8b163264fe2a9ce6976b472b883e6f4", element="194f5b11-f524-4118-a92d-9da567dbb692")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a8b163264fe2a9ce6976b472b883e6f4", element="109639be-123e-47be-98e4-0a169c2d3005")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a8b163264fe2a9ce6976b472b883e6f4", element="451778a2-649a-48e5-9203-8f0214032c30")>]

In [16]:
for i in experience_tag:
    experience=i.text
    experience_List.append(experience)
experience_List[:11]

['1-4 Yrs',
 '3-5 Yrs',
 '2-5 Yrs',
 '2-5 Yrs',
 '2-4 Yrs',
 '5-9 Yrs',
 '2-4 Yrs',
 '2-4 Yrs',
 '0-1 Yrs',
 '4-6 Yrs',
 '0-2 Yrs']

In [17]:
driver.close()

In [18]:
data=pd.DataFrame({"Job Title":job_title,
                   "Company Name":company_name, 
                   "Job Location":location_List, 
                   "Experience":experience_List})
data.head()

,Job Title,Company Name,Job Location,Experience
0,"MIS/ Data Analyst-(SQL,Automation,Excel/PowerB...",Flipkart Internet Private Limited,Bengaluru,1-4 Yrs
1,Data Analyst - SAP,Boston Scientific Corporation,"Pune, Delhi, Bengaluru, Gurgaon",3-5 Yrs
2,Hiring Data Analysts on Contract,Flipkart Internet Private Limited,Bengaluru,2-5 Yrs
3,Senior Data Analyst,Schneider Electric,Bengaluru / Bangalore,2-5 Yrs
4,Security Data Analyst,Philips India Limited,Bengaluru,2-4 Yrs

In [19]:
data

,Job Title,Company Name,Job Location,Experience
0,"MIS/ Data Analyst-(SQL,Automation,Excel/PowerB...",Flipkart Internet Private Limited,Bengaluru,1-4 Yrs
1,Data Analyst - SAP,Boston Scientific Corporation,"Pune, Delhi, Bengaluru, Gurgaon",3-5 Yrs
2,Hiring Data Analysts on Contract,Flipkart Internet Private Limited,Bengaluru,2-5 Yrs
3,Senior Data Analyst,Schneider Electric,Bengaluru / Bangalore,2-5 Yrs
4,Security Data Analyst,Philips India Limited,Bengaluru,2-4 Yrs
5,"Data Analyst -Azure Data lake, Azure Data factory",Mindtree Limited,"Chennai, Pune, Bengaluru, Hyderabad",5-9 Yrs
6,Business / Data Analyst,IBM India Pvt. Limited,Bengaluru,2-4 Yrs
7,Data Analyst - O2C - Bangalore,RANDSTAD INDIA PVT LTD,Bengaluru,2-4 Yrs
8,Intern Data Analyst,Outsource Big Data,Bengaluru,0-1 Yrs
9,NiFi Data Analyst,Capgemini Technology Services India Limited,Bengaluru,4-6 Yrs
10,Requirement For Data Analyst(Advance excel can...,Emagine People Technologies Private Limited,"Chennai, Bengaluru",0-2 Yrs
11,SENIOR DATA ANALYST,McAfee Software (India) Pvt. Ltd,Bengaluru,7-12 Yrs
12,Data Analyst,EZEU,Bengaluru,2-7 Yrs
13,Senior Data Analyst,Career Hotspot & Services,Bengaluru,3-5 Yrs
14,Data Analyst,AceNet,"Chennai, Bengaluru",6-8 Yrs
15,Looking For Rockstar Data Analyst @ Freshtohom...,Freshtohome Foods Private Limited,Bengaluru,2-5 Yrs
16,Data Analyst (Gameplay),Kwalee ltd.,Bengaluru,2-7 Yrs
17,Data Analyst,Kwalee ltd.,Bengaluru,2-7 Yrs
18,Data Analyst,"Liventus, Inc.",Bengaluru(2nd Phase JP Nagar),3-6 Yrs
19,Data Analyst,Shell India Markets Private Limited,Bengaluru,5-8 Yrs

2.Write a python program to scrape data for “Data Scientist” Job position in
“Bangalore” location. You have to scrape the job-title, job-location,
company_name, full job-description. You have to scrape first 10 jobs data.

In [54]:
dri= webdriver.Chrome("D:\\Softwares\\chromedriver_win32\\chromedriver.exe")

In [55]:
dri.get('https://www.naukri.com/')

In [56]:
Search=dri.find_element_by_xpath("//input[@placeholder='Skills, Designations, Companies']")
Search.send_keys('Data Scientist')
Location=dri.find_element_by_id('qsb-location-sugg')
Location.send_keys('Bangalore')
Search_button=dri.find_element_by_xpath('//div[@class="search-btn"]/button')
Search_button.click()

In [57]:
url=dri.current_url
print(url)

https://www.naukri.com/data-scientist-jobs-in-bangalore?k=data%20scientist&l=bangalore

In [58]:
dri.get(url)

In [59]:
job_titles=[]
company_names=[]
location_Lists=[]
experience_Lists=[]

In [60]:
title_tags=dri.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
title_tags[:4]

[<selenium.webdriver.remote.webelement.WebElement (session="5ca27c791dd942d44fe0abe54ba619c1", element="0b7f6f72-6622-4bf1-8366-97999d1c3269")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5ca27c791dd942d44fe0abe54ba619c1", element="0a7dc99b-7699-4e59-b216-61ec2a03c2e1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5ca27c791dd942d44fe0abe54ba619c1", element="faa3e224-1cc9-40fa-a6e4-d00af0f4df76")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5ca27c791dd942d44fe0abe54ba619c1", element="ff58a96f-177c-4f49-a398-50be06b05c69")>]

In [61]:
for i in title_tags:
    job=i.text
    job_titles.append(job)
job_titles[:10]

['Data Scientist - Python/ MATLAB/ Machine Learning Algorithms',
 'Lead Data Scientist - Machine Learning/ Data Mining',
 'Data Scientist - Machine Learning (Commerce BU)',
 'Principal Data Scientist - Machine/Deep Learning - NLP/Tensorflow',
 'Data Scientist',
 'Opening For Sr. Data Scientist @ Tech Mahindra',
 'Opening For Sr. Data Scientist @ Tech Mahindra',
 'Senior / Lead Data Scientist',
 'Senior Data Scientist - NLP/ Python/ R',
 'Senior Data Scientist | CES IT LTD | CMMI Level 5']

In [62]:
company_tag=dri.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')
company_tag[:4]

[<selenium.webdriver.remote.webelement.WebElement (session="5ca27c791dd942d44fe0abe54ba619c1", element="cf3c97fc-de9d-42ac-94ed-afe69d5af44f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5ca27c791dd942d44fe0abe54ba619c1", element="c45d4c92-8b4b-444b-9246-e09ca1bfa80b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5ca27c791dd942d44fe0abe54ba619c1", element="2ea42b1e-f2a4-4ee8-948a-3603daa10c75")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5ca27c791dd942d44fe0abe54ba619c1", element="50fc362f-5b81-416f-b8df-0e67aec0929c")>]

In [63]:
for i in company_tag:
    company=i.text
    company_names.append(company)
company_names[:10]

['Wrackle Technologies Pvt Ltd',
 'Wrackle Technologies Pvt Ltd',
 'BLUE YONDER INDIA PRIVATE LIMITED',
 'Fidius advisory',
 'Atos Syntel Private Limited',
 'Tech Mahindra Ltd.',
 'Tech Mahindra Ltd.',
 'TVS CREDIT SERVICES LIMITED',
 'AVI Consulting LLP',
 'CES Ltd.']

In [64]:
Location_tag=dri.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]')
Location_tag[:4]

[<selenium.webdriver.remote.webelement.WebElement (session="5ca27c791dd942d44fe0abe54ba619c1", element="7a7505dd-fa16-43ef-97ae-9b565b730653")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5ca27c791dd942d44fe0abe54ba619c1", element="0736d701-d4db-4a3a-accb-24299dbc9dbe")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5ca27c791dd942d44fe0abe54ba619c1", element="9154c46d-d5f1-4de1-bb05-1d927ca89d84")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5ca27c791dd942d44fe0abe54ba619c1", element="2ff6e50c-c31d-4dc1-a8c4-b19c4e3dc7d2")>]

In [65]:
for i in Location_tag:
    location=i.text
    location_Lists.append(location)
location_Lists[:10]

['Bengaluru',
 'Bengaluru',
 'Bengaluru',
 'Bengaluru',
 'Chennai, Pune, Mumbai, Bengaluru',
 'Pune, Bengaluru',
 'Pune, Bengaluru',
 'Chennai, Pune, Bengaluru',
 'Bengaluru, Hyderabad',
 'Chennai, Pune, Delhi NCR, Mumbai, Bengaluru, Hyderabad, Kolkata']

In [66]:
experience_tag=dri.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi experience"]')
experience_tag[:4]

[<selenium.webdriver.remote.webelement.WebElement (session="5ca27c791dd942d44fe0abe54ba619c1", element="b4f8d0ba-a715-45ba-94fd-f87789679b6c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5ca27c791dd942d44fe0abe54ba619c1", element="ca32161e-0dfb-424b-9a3b-054f36f3e4ca")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5ca27c791dd942d44fe0abe54ba619c1", element="5ce251c2-8af3-4640-b568-66a52afd00a4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5ca27c791dd942d44fe0abe54ba619c1", element="ec418d2d-358c-40cb-9858-8fa94bc22fc0")>]

In [67]:
for i in experience_tag:
    exp=i.text
    experience_Lists.append(exp)
experience_Lists[:10]

['3-8 Yrs',
 '6-11 Yrs',
 '4-6 Yrs',
 '8-13 Yrs',
 '12-18 Yrs',
 '12-20 Yrs',
 '12-20 Yrs',
 '3-8 Yrs',
 '4-9 Yrs',
 '2-7 Yrs']

In [68]:
dri.close()

In [69]:
job_data=pd.DataFrame({"Job title":job_titles,
                      "Company Name":company_names,
                      "Location":location_Lists,
                      "Experience":experience_Lists})



job_data.head()

,Job title,Company Name,Location,Experience
0,Data Scientist - Python/ MATLAB/ Machine Learn...,Wrackle Technologies Pvt Ltd,Bengaluru,3-8 Yrs
1,Lead Data Scientist - Machine Learning/ Data M...,Wrackle Technologies Pvt Ltd,Bengaluru,6-11 Yrs
2,Data Scientist - Machine Learning (Commerce BU),BLUE YONDER INDIA PRIVATE LIMITED,Bengaluru,4-6 Yrs
3,Principal Data Scientist - Machine/Deep Learni...,Fidius advisory,Bengaluru,8-13 Yrs
4,Data Scientist,Atos Syntel Private Limited,"Chennai, Pune, Mumbai, Bengaluru",12-18 Yrs

In [ ]:
WebElement checkbox = dr.findElement(By.linkText("Checkbox Demo"));
    checkbox.click();

Q3: In this question you have to scrape data using the filters available on the
webpage as shown below:

In [77]:
div= webdriver.Chrome("D:\\Softwares\\chromedriver_win32\\chromedriver.exe")

In [78]:
div.get('https://www.naukri.com/')

In [79]:
Search=div.find_element_by_xpath("//input[@placeholder='Skills, Designations, Companies']")
Search.send_keys('Data Scientist')
Location=div.find_element_by_id('qsb-location-sugg')
Location.send_keys('Bangalore')
Search_button=div.find_element_by_xpath('//div[@class="search-btn"]/button')
Search_button.click()

In [80]:
div.find_element_by_xpath("//div[@class='mt-8 chckBoxCont']").click()

In [83]:
div.find_element_by_xpath("//i[@class='fleft naukicon naukicon-checkbox']").click()

In [84]:
title_tags=div.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
title_tags[:4]

[<selenium.webdriver.remote.webelement.WebElement (session="bbe7f32b29b534c9fa3c1c0d6009ec3b", element="5c7f18e1-4a37-4926-866e-af47a87f44f3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bbe7f32b29b534c9fa3c1c0d6009ec3b", element="12348f2e-9ba2-4ee8-82c6-2e744ecedfb5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bbe7f32b29b534c9fa3c1c0d6009ec3b", element="82f0a68d-44c8-467c-b57e-7edf8dcbc11a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bbe7f32b29b534c9fa3c1c0d6009ec3b", element="9ad91155-a31e-4b83-9dca-6574866080ab")>]