In [30]:


#import folium
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

import math
import random
from datetime import timedelta
import warnings
warnings.filterwarnings('ignore')
import plotly as py
from plotly.offline import plot, iplot, init_notebook_mode


import plotly.graph_objs as go
init_notebook_mode(connected=True)
import plotly.express as px
import plotly.figure_factory as ff
from plotly.subplots import make_subplots

ModuleNotFoundError: No module named 'plotly'

In [11]:
countrywise =pd.read_csv('corona.csv')
countrywise

             Date             Country  Confirmed  Recovered  Deaths
0      2020-01-22         Afghanistan          0          0       0
1      2020-01-22             Albania          0          0       0
2      2020-01-22             Algeria          0          0       0
3      2020-01-22             Andorra          0          0       0
4      2020-01-22              Angola          0          0       0
...           ...                 ...        ...        ...     ...
23683  2020-05-26  West Bank and Gaza        429        365       3
23684  2020-05-26      Western Sahara          9          6       1
23685  2020-05-26               Yemen        249         10      49
23686  2020-05-26              Zambia        920        336       7
23687  2020-05-26            Zimbabwe         56         25       4

[23688 rows x 5 columns]

In [13]:
countrywise .head()

         Date      Country  Confirmed  Recovered  Deaths
0  2020-01-22  Afghanistan          0          0       0
1  2020-01-22      Albania          0          0       0
2  2020-01-22      Algeria          0          0       0
3  2020-01-22      Andorra          0          0       0
4  2020-01-22       Angola          0          0       0

In [14]:
countrywise .describe()

          Confirmed      Recovered        Deaths
count  2.368800e+04   23688.000000  23688.000000
mean   7.969368e+03    2581.801714    526.935030
std    5.842109e+04   15143.101257   3992.815956
min    0.000000e+00       0.000000      0.000000
25%    0.000000e+00       0.000000      0.000000
50%    1.800000e+01       1.000000      0.000000
75%    7.300000e+02     123.000000     13.000000
max    1.680913e+06  384902.000000  98913.000000

In [18]:
df["Date"] = df["Date"].astype(str)
df.head()

         Date      Country  Confirmed  Recovered  Deaths
0  2020-01-22  Afghanistan          0          0       0
1  2020-01-22      Albania          0          0       0
2  2020-01-22      Algeria          0          0       0
3  2020-01-22      Andorra          0          0       0
4  2020-01-22       Angola          0          0       0

In [25]:
fig = px.choropleth(date_country, 
                    locations="Country",
                    locationmode="country names",
                    color=np.log(date_country["Confirmed"]),
                    hover_name="Country", 
                    hover_data=["Confirmed", "Recovered", "Deaths"],
                    animation_frame=date_country["Date"].dt.strftime("%Y-%m-%d"),
                    color_continuous_scale="YlOrRd",
                    range_color=[0, 16],
                    projection='natural earth',
                    title="Global Covid19 cases with Time Lapse")

fig.update(layout_coloraxis_showscale=True)

fig.show()

NameError: name 'px' is not defined