In [2]:
from bs4 import BeautifulSoup
import requests
import urllib.request
from time import sleep
from random import randint
import numpy as np
import pandas as pd

In [3]:
pages = np.arange(1, 100, 50)
pages

array([ 1, 51])

In [4]:
headers = {'Accept-Language': 'en-US, en;q=0.5'}

In [15]:
title=[]
year=[]
imdb_ratings=[]

In [10]:
for page in pages:
    # Getting the contents from the each url
    page = requests.get('https://www.imdb.com/search/title/?groups=top_1000&start=' + str(page) + '&ref_=adv_nxt', headers=headers)
    soup = BeautifulSoup(page.text, 'html.parser')

In [11]:
movie_div= soup.find_all('div', class_='lister-item mode-advanced')

In [7]:
sleep(randint(2,10))

In [20]:
for container in movie_div:
        # Scraping the movie's name
        name = container.h3.a.text
        title.append(name)
       
        # Scraping the movie's year
   
        years = container.h3.find('span', class_='lister-item-year').text
        year.append(years)
        
        #Scraping the movie rating
       
        imdb = float(container.strong.text)
        imdb_ratings.append(imdb)

In [19]:
Movies= pd.DataFrame({'movie': title, 'year':year, "Rating":imdb_ratings})
Movies.head()

                                           movie    year  Rating
0                         No Country for Old Men  (2007)     8.1
1                               Django Unchained  (2012)     8.4
2                The Girl with the Dragon Tattoo  (2011)     7.8
3  The Lord of the Rings: The Return of the King  (2003)     8.9
4                                     Green Book  (2018)     8.2

In [22]:
print(Movies)

                                            movie    year  Rating
0                          No Country for Old Men  (2007)     8.1
1                                Django Unchained  (2012)     8.4
2                 The Girl with the Dragon Tattoo  (2011)     7.8
3   The Lord of the Rings: The Return of the King  (2003)     8.9
4                                      Green Book  (2018)     8.2
..                                            ...     ...     ...
95                                    The Goonies  (1985)     7.8
96                                  Almost Famous  (2000)     7.9
97                                       Predator  (1987)     7.8
98                                 Shutter Island  (2010)     8.2
99                                  Into the Wild  (2007)     8.1

[100 rows x 3 columns]

In [23]:
Movies.to_csv('Movies.csv')